/* style for login page start here */
/* Bordered form */
form {
    border: 1px solid #ddd8d8;
    width: 300px;
    border-radius: 10px;
    margin: 5px auto;
    margin-top: 150px;
  }

  /* Full-width inputs */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgb(129, 129, 129);
    box-sizing: border-box;
    border-color: rgb(153, 153, 153);
    font-size: 15px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    max-width: 75%;
    margin: 5px auto;
    height: auto;
    margin-top: 20px;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  label{
    font-family: sans-serif;
    
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  /* style for login page end here */