/* style for home nav bar start here */
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  
  
}
.header {
    overflow: hidden;
    background-color: white;
    /* #f1f1f1; */
    padding: 20px 10px;
    box-shadow: 0px -10px 50px grey;
  }
  
  .header a ,#logo{
    float: left;
    color: black;
    text-align: center;
    vertical-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    max-width: 300px;
    
  }
.header #logo{
    max-height: 200px;
}
.logoimg a:hover{
  background-color: transparent;
}
.header-right a:hover {
  background-color: #dbd9d5;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  display: inline;
  
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/* style for home nav bar end here */

/* style for eventdetails start here */
#content2{
padding-right:30px;
margin-top: 80px;
margin-left: 200px;
}
#left{
	padding: 10px;
  text-align: justify;
  width: 90%;
  min-height: 700px;
  margin-left: 40px;
}
#right{
padding: 30px;
font-size:17px;
border: 1px;
width: 400px;
border-style:solid;
border-color: #d2d4d2;
border-radius: 10px;
margin-left: 30px;
float:right;
}
input.reg-event{
  margin-top: 25px;
  background-color: dodgerblue;
  padding: 20px;
  color: white;
  border-color: transparent;
  border-radius: 30px;
  font-size: 20px;
}
input.reg-event:hover{
  border-color: dodgerblue;
  color: dodgerblue;
  background-color: white;
  transition: .3s;
}
input.del-event{
  margin-top: 25px;
  background-color: red;
  padding: 20px;
  color: white;
  border-color: transparent;
  border-radius: 30px;
  font-size: 20px;
  width:165px;
}
input.del-event:hover{
  border-color: red;
  color: red;
  background-color: white;
  transition: .3s;
}
.e-overview{
  font-size: 25px;
  font-weight: 500;
}
.p1{
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 20px;
}
.h1{
  font-size: 25px;
}
.e-ov-text{
  display: inline;
  line-height: 1.5;
}
/* style for eventdetails end here */

/* style for eventlist start here */
.titleblock{
  position: relative;
  text-align: center;
  color: black;
  
}
.titleblock #titleimg{
  width: 100%;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title .title-text {
  text-transform: capitalize;
  color: #4a4843;
}
.row  {
  /* float: left; */
    color: black;
    text-align: center;
    vertical-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    max-width: 300px;
    margin-left: -375px;
    margin-top: -60px;
    
}
.search-box {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	.search-box div {
		display: inline;
	}
#search-event{
  width: 80%;
  font-size: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a8aaad;
    border-radius: 10px;
    box-sizing: border-box;
    height: 50px;
}
#find-e{
  color: white;
  padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    background-color: dodgerblue;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
}
/* event-box start here */
.event-box{
  padding: 0%;
  margin: 0%;
  margin-top: 30px;
  margin-left: 100px;
  background-color: white;
  /* border-color: #a8aaad; */
  border-color: transparent;
  border-radius: 30px;
}
.event-box:hover{
  box-shadow: 0px 0px 5px grey;
  transition: 0.5s;
}
p.pd{
  text-align: right;
  font-size: 20px;
  color: #a8aaad;
}
img.pin{
  max-width: 50px;
}
p.ev-title{
  text-align: left;
  font-size: 25px;
  text-transform: capitalize;
}
.det-button{
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  border-color: transparent;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-right: 0px;
  border-radius: 10px;
}
td.view-space{
  max-width: 100px;
}
.det-button:hover{
  background-color: white;
  color: dodgerblue;
  font-size: 20px;
  border-color: dodgerblue;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
  transition: 0.3s;
}
/* event-box end here */
.footer-{
  margin: 0;
  position: relative;
  background-color: dodgerblue;
  color: white;
  font-size: 10px;
  bottom:0;
  width: 100%;
}
/* style for eventlist end here */

/*style for about start here */
#container1-about{
padding-top:84px;
width:80%;
margin-left: 200px;
font-size:20px;
padding-left:25px;
margin-bottom: 100px;
}
.about-img{
  float: right;
  height: inherit;
  margin-left: 30px;
}
.about-content{
  text-indent: 50px;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 50px;
  line-height: 2;
}

/*style for about end here */

/*style for contact start here */
#contactus{
padding-left:400px;
}
/*style for contact end here */
/*style for profile start here */

#contain1{
margin-left: 30%;
}
.bord{
border: 2px white;
border-radius: 25px;
padding-top:10px;
padding-bottom:20px;
padding-left:20px;
padding-right:20px;
background-color:white;
}
#contain2{
align-items: center;
margin-left: 40%;
color: dodgerblue;
}
.bord1{
border: 2px white;
width:200px;
height:200px;
border-radius: 15px;
padding-top:20px;
padding-bottom:20px;
padding-left:70px;
padding-right:20px;
background-color:white;
align:center;
font-size:20px;
}

/*style for profile end here */

/*style for create event start here */
#contain4{
text-align:left;
font-size:25px;
top:40px;
}
.bord3{
padding-bottom:5px;
margin-top: 50px;
}
.ip-create{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit-e{
  color: white;
  font-size: 20px;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgb(47, 148, 43);
}
#submit-e:hover{
  background-color: #518f49;
  transition: .3s;
}
#reset-e{
  color: white;
  font-size: 20px;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgb(241, 0, 0);
  margin-bottom: 100px;
  margin-top: 50px;
}
#reset-e:hover{
  background-color: rgb(180, 23, 23);
  transition: .3s;
}
/*style for create event end here */